<div id="search-block">
  <!-- 搜索条件 - 名字 -->
  <div id="search_2cndition_1">
    <label class="label" for="searchName">名字：</label>
    <input
      [placeholder]="namePlaceholder"
      id="searchName"
      type="text"
      pInputText
      [(ngModel)]="name"
      (keyup.enter)="onClickSearch()"
    />
  </div>

  <!-- 搜索条件性别 -->
  <div id="search_condition_2">
    <label class="label" for="searchGender">性别：</label>
    <p-dropdown
      [options]="genderList"
      [(ngModel)]="gender"
      optionLabel="sexName"
      id="searchGender"
    ></p-dropdown>
  </div>

  <!-- 搜索条件：成年与否 -->

  <app-adult
    [selectedValue]="selectedAdultValue"
    (adultSelected)="onAdultSelected($event)"
  ></app-adult>

  <div id="search_btn_wrapper">
    <p-button id="search_btn" label="查询" (click)="onClickSearch()"></p-button>
    <!-- <p-button id="search_btn" label="查询" routerLink="list" routerLinkActive="active" ></p-button> -->
  </div>
</div>
